# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
node_modules
package-lock.json

# Tests
coverage

# Production
dist
build
storybook-static
.docusaurus

# TypeScript
*.tsbuildinfo

# npm
.npm

# ESLint
.eslintcache

# Env files
.env

# OS
.DS_Store
*.pem

# Next.js
.next
out

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Generated
packages/ui/src/svg
packages/ui/src/icons
packages/cli/output
.cache-loader

# Database
data/

#IDE
.idea
